In [4]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import StructType, StructField, StringType, DateType, DecimalType

In [5]:
spark = SparkSession.builder.appName("Task1").getOrCreate()

In [17]:
schema = StructType([
    StructField("transaction_unique_identifier", StringType(), True),
    StructField("price", DecimalType(10, 2), True),
    StructField("date_of_transfer", DateType(), True),
    StructField("postcode", StringType(), True),
    StructField("property_type", StringType(), True),
    StructField("old_new", StringType(), True),
    StructField("duration", StringType(), True),
    StructField("paon", StringType(), True),
    StructField("saon", StringType(), True),
    StructField("street", StringType(), True),
    StructField("locality", StringType(), True),
    StructField("town_city", StringType(), True),
    StructField("district", StringType(), True),
    StructField("county", StringType(), True),
    StructField("ppd_category_type", StringType(), True),
    StructField("record_status", StringType(), True)
])

df = (
    spark.read.format("csv")
    .option("header", "true")
    .schema(schema)
    .load("../data/pp-2021.csv")
)

df = df.select(
    "transaction_unique_identifier",
    "price",
    "postcode"
)
df.show()

+-----------------------------+----------+--------+
|transaction_unique_identifier|     price|postcode|
+-----------------------------+----------+--------+
|         {E53EDD2E-C6F1-83...| 150000.00|LS27 9AL|
|         {E53EDD2E-C6F3-83...| 430000.00| LS6 1BU|
|         {E53EDD2E-C6F4-83...| 135000.00|LS10 1LP|
|         {E53EDD2E-C704-83...| 131000.00| HD2 2SN|
|         {E53EDD2E-C705-83...| 180000.00|LS10 1NG|
|         {E53EDD2E-C707-83...|  65000.00| HD4 6DL|
|         {E53EDD2E-C708-83...| 180000.00|LS10 1NW|
|         {E53EDD2E-C709-83...|  60000.00| BD4 7EJ|
|         {E53EDD2E-C712-83...| 255000.00|BD10 0QZ|
|         {E53EDD2E-C716-83...|  93500.00|LS12 5LT|
|         {E53EDD2E-C71C-83...|6492000.00|WF13 2SU|
|         {E53EDD2E-C71E-83...| 300000.00| BD4 7HY|
|         {E53EDD2E-C725-83...| 127500.00| LS9 8FE|
|         {E53EDD2E-C72A-83...| 114000.00|HU14 3FJ|
|         {E53EDD2E-C72B-83...| 114000.00|HU14 3FJ|
|         {E53EDD2E-C72C-83...|  83500.00|HU14 3FJ|
|         {E53EDD2E-C72E-83...| 147000.00|HU10 6ND|
|         {E53EDD2E-C72F-83...| 140000.00|HU16 5FN|
|         {E53EDD2E-C730-83...| 140000.00|HU16 5FN|
|         {E53EDD2E-C731-83...| 140000.00|HU16 5FN|
+-----------------------------+----------+--------+
only showing top 20 rows

In [19]:
df.count()

1278277

In [21]:
df_2021 = (
    df
    .filter(
        (F.col("price").isNotNull()) &
        (F.col("postcode").isNotNull())
    )
    .withColumn(
    "postcode_area", F.split(F.col("postcode"), " ").getItem(0)
    )   
)

median_prices = (
    df_2021.groupBy("postcode_area")
    .agg(F.expr("percentile_approx(price, 0.5)").alias("median_price"))
    .orderBy(F.col("median_price").asc())
    .limit(10)
)

median_prices.show()

+-------------+------------+
|postcode_area|median_price|
+-------------+------------+
|          NP2|    30000.00|
|          DL4|    56000.00|
|          TS1|    57000.00|
|          BD1|    59995.00|
|         DL17|    62950.00|
|          SR1|    65000.00|
|         DN31|    70000.00|
|          SR8|    70000.00|
|         BB11|    71000.00|
|          TS3|    72500.00|
+-------------+------------+